<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

	<style>
        body {
	    font-family: 'Roboto', sans-serif;
	}
        table {
	    border-collapse:separate;
            border:solid black 1px;
            border-radius:6px;
	    -moz-border-radius:6px;
            height: 60vmin;
            width: 60vmin;
        }
        td, th {
	    border-left:solid black 1px;
	    border-top:solid black 1px;
        }

	</style>

</head>
<body>
    <center>
    </br>
    <h3>Generador de matrices para código secreto</h3>
    </br>
    Envía para generar la misma matriz: <a href="{{url_for('index', seed=seed, _external=true)}}">{{url_for('index', seed=seed, _external=true)}}</a>
    </br>
    <h5 style=background:{{ first_team }}>Comienza el equipo</h5>
    </br>
    <table>
        {% for row in matrix %}
        <tr>
            {% for element in row %}
            <td style=background:{{ element }}></td>
            {% endfor %}
      </tr>
      {% endfor %}
    </table>
    </center>
</body>

<footer>
	<div style="width:100%;text-align:center;">
        <a href="https://gitlab.com/j-lorenzo/generador-matrices-c-digo-secreto.git"><img style="position:absolute;bottom:10px;width:5%" src="https://upload.wikimedia.org/wikipedia/commons/1/18/GitLab_Logo.svg"></a>
        </div>
</footer>
</html>

